body{
    height: 100%;
    width: 100%;
    background-image: url(mattbackground.svg);
}

nav{
    border-bottom:solid;
    color: #646464;
}
.nav-link,
.navbar-brand {
    color: #646464;
    cursor: pointer;
    font-size: 1.5em;
    margin-left: 1.5em;
}
.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: rgba(226, 192, 68, 0.984);
    transform: scale(1.1);
}
.navbar-collapse {
    justify-content: flex-end;
}

#welcome{
    margin-top: 1em;
    font-size: 6em;
}

.navbar-toggler{
    border-color:#E2C044;
}

.container a{
    transform: scale(2);
}

.container a:hover{
    transform: scale(2.5);
}

footer{
    border-top:solid;
    border-color: #E2C044;
}

#welcome-paragraph{
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: animtext 4s steps(80, end); 
     transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);
  }
  @keyframes animtext { 
    from {
        width: 0;
       transition: all 2s ease-in-out;
    } 
  }