body{
    height: 100%;
    width: 100%;
    background-image: url(mattbackground.svg);
}

.nav-link,
.navbar-brand {
    color: #646464;
    cursor: pointer;
    font-size: 1.5em;
    margin-left: 1.5em;
}
.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: rgba(226, 192, 68, 0.9);
    transform: scale(1.1);
}
.navbar-collapse {
    justify-content: flex-end;
}

#top-nav-divider{
    width: 100%;
    height: 4%;
    border: none;

    background-color: green;
}

#welcome{
    margin-top: 1em;
    font-size: 6em;
}